<script
  src="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/js/splide.min.js"
></script>
<link
  href="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/css/splide.min.css"
  rel="stylesheet"
>
{% style %}
  .onimg{
    position: absolute !important;
    bottom:3%;
    left: 5%;
  }
  .splide {
    position: relative;
    visibility: visible !important;
}
  .onimg1{
    position: absolute !important;
    bottom:4%;
    left:12%;
    
  }

  .simg{
    height:100%;
  }
  @media screen and (max-width: 1768px) {
   .onimg1{
    
    position: absolute !important;
    bottom:8%;
    left:10%;
  }
     .simg{
    height:90%;
  }
   
  }
  .mw li{
        width: 100%;
    max-width: 25%;
    padding-right:13px;
  }
  @media screen and (max-width: 768px) {
     .mw li img{
      max-width:auto !important;
       
    }
    .mw li{
        width: 100%;
    max-width: 44%;
    padding-right:13px;
  }
    .mw {
     margin:0px 0px 0px 0px!important;

       width:auto !important;
    }
  }
{% endstyle %}
{% if section.settings.divider %}
  <div class="section--divider">
{% endif %}

<div class="mw" style="width: 100%;margin: 0 0 0 0%;">
  <section class="splide top" aria-label="Splide Basic HTML Example">
    <div class="splide__track">
      <ul class="splide__list scrollm" style="align-items: center;    overflow-x: scroll;">
        <li class="splide__slide"style="">
          <img
            style="width:100%;"
            src="https://cdn.shopify.com/s/files/1/0773/3870/6204/files/cards.jpg?v=1699447723"
            alt="Slider Image"
          >
          <a href="https://eqiru.myshopify.com/collections/cards" class="btn onimg" tabindex="0">Festive Edits</a>
        </li>
        <li class="splide__slide" style="justify-content: center;display: grid;align-items: center;">
          <img
            style="width:100%;"
            class="relative simg"
            src="https://cdn.shopify.com/s/files/1/0773/3870/6204/files/candles.jpg?v=1699447723"
            alt="Slider Image"
          >
          <a href="https://eqiru.myshopify.com/collections/candles" class="btn onimg1" tabindex="0">Candles</a>
        </li>
        <li class="splide__slide" style="">
          <img
            style="width:100%;height:100%;"
            src="https://cdn.shopify.com/s/files/1/0773/3870/6204/files/notebook.jpg?v=1698992185"
            alt="Slider Image"
          >
          <a href="https://eqiru.myshopify.com/collections/notebooks" class="btn onimg" tabindex="0">Notebook</a>
        </li>
        <li class="splide__slide" style="justify-content: center;display: grid;align-items: center;">
          <img
            
            style="width:100%;"
            class="relative simg"
            src="https://cdn.shopify.com/s/files/1/0773/3870/6204/files/envelope.jpg?v=1698992185"
            alt="Slider Image"
          >
          <a href="https://eqiru.myshopify.com/collections/envelopes" class="btn onimg1" tabindex="0">Envelopes</a>
        </li>
        <li class="splide__slide"style="">
          <img
            style="width:100%;"
            src="https://cdn.shopify.com/s/files/1/0773/3870/6204/files/planner.jpg?v=1698992185"
            alt="Slider Image"
          >
          <a href="https://eqiru.myshopify.com/collections/planners" class="btn onimg" tabindex="0">Planners</a>
        </li>
        <li class="splide__slide" style="justify-content: center;display: grid;align-items: center;">
          <img
            style="width:100%;"
            class="relative simg"
            src="https://cdn.shopify.com/s/files/1/0773/3870/6204/files/folder.jpg?v=1698992185"
            alt="Slider Image"
          >
          <a href="https://eqiru.myshopify.com/collections/folders" class="btn onimg1" tabindex="0">Folders</a>
        </li>
        <li class="splide__slide"style="">
          <img
            style="width:100%;"
            src="https://cdn.shopify.com/s/files/1/0773/3870/6204/files/luggage_5eb9e14e-0d59-468a-a168-ec2f0c13a748.jpg?v=1699447723"
            alt="Slider Image"
          >
          <a href="https://eqiru.myshopify.com/collections/luggage-tags" class="btn onimg" tabindex="0">Luggage Tags</a>
        </li>
        <li class="splide__slide" style="justify-content: center;display: grid;align-items: center;">
          <img
            style="width:100%;"
            class="relative simg"
            src="https://cdn.shopify.com/s/files/1/0773/3870/6204/files/notecards.jpg?v=1698992184"
            alt="Slider Image"
          >
          <a href="https://eqiru.myshopify.com/collections/" class="btn onimg1" tabindex="0">Notecards</a>
        </li>
      
      </ul>
    </div>
  </section>
</div>
{% if section.settings.divider %}
  </div>
{% endif %}

