<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customise</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
      integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65"
      crossorigin="anonymous"
    >
    <style>
      a {
    text-decoration: none;
}
          .site-header__search-container1 {
            margin-top: 8px;
          }

          /* Define the custom background image */
          .sec {
            background-image: url('');
          }

          .al {
            justify-content: center;

            align-items: center;
          }

          .promo-grid__container.horizontal-center2 {
            background: linear-gradient(180deg, #b2bbdb 50%, #fff 50%) !important;
          }

          .al p {
            width: 100%;
          }

          .mobim {
            height: 100% !important;
          }

          .promo-grid__bg {
            padding: 10px 5% !important;
            margin-top: 5px;
          }

          p {
            font-size: 20px;
            font-weight: 300;
            color: #193f47;
            line-height: 1.3;

          }
          .about p{
            margin:0 0 10px 0;
          }

          .prose p {

            color: #fff !important;

          }

          .bold {
            font-weight: 600;
          }

          .cus211 {
            color: #1A3F47;
            font-family: Aire Bold Std;
            font-size: 50px;
            font-weight: 500;
          }
          .cus21 {
            color: #1A3F47;
            font-family: Aire Bold Std;
            font-size: 36px;
            font-weight: 500;
          }
          .contact .section-header__title{
            text-align: center;
          }
          .contact .form-vertical label {
          text-transform: capitalize;
      }
      .contact .btn{
        font-weight: 100;
          background: #1A3F47;
         margin-bottom: 30px;
         border-radius: 0;
          color: #fff;
          padding: 5px 20px;
          font-size: 22px;
      }
          @media only screen and (max-width: 589px) {
.work .section-header {
    margin-bottom: -40px;
    text-align: center;
}
            
            .mainh h1 {
              font-size: 18px !important;
              padding: 0px 0 !important;

            }
      .mt1{
        padding-top:50px;
      }
            .mt11{
        padding-top:30px;
      }
            .mt1 .nem{
              margin-top:10% !important;
            }
             .mt11 .nem{
              margin-top:10% !important;
            }
            .mainh {
              max-width: 70% !important;
              margin: 20px auto 0 auto !important;
            }

            .the1 {
              margin: 30px 0 !important;
            }

            .mobp1 {
              padding: 30px 0 !important;
            }

            .text-start p {
              text-align: start !important;
            }

            .pnone {
              padding: 0 !important;
            }

            .padd1 {
              padding: 10% !important;
              background: transparent !important;
            }
.page1 h1 {
             text-align: end !important;
            }
            
            .page1 .eq3 {
             text-align: end !important;
            }
            
            .cus21 {
              font-size: 18px !important;
              padding:20px 0 !important;
            }
      .cusf {
              font-size: 32px !important;
              padding:0px !important;
            margin: 0px;
            }
            .com{
              font-size: 20px !important;
            }
            .work1 {
              font-size: 28px !important;
              margin:0px;
            }

            .work11 {
              width: 150px !important;
            }
      .sec{
        padding:10px 0 !important;
      }
            .sec1{
        padding:10px 0 !important;
      }
            .page2 {
              max-width: 90% !important;
            }

            .page2 p {
              text-align: center !important;
              margin-bottom: 0px;
            }
            .page2 .rte{
              display:none;
            }
            .page2 .index-section {
    margin: 20px 0 22px!important;
}
            .mobp{
              padding:60px 5% !important;
            }
          }

          #instafeed {
            display: none !important;
          }
    </style>
  </head>

  <body>
    <div class="main">
      <div id="shopify-section-001914b4-b51b-43b6-b64a-5f121d6fe4f4" class="shopify-section">
        <div data-section-id="001914b4-b51b-43b6-b64a-5f121d6fe4f4" data-section-type="promo-grid">
          <style>
            .flex-grid--001914b4-b51b-43b6-b64a-5f121d6fe4f4 {
              margin-top: -20px;
              margin-left: -20px;

              padding-left: 20 px;
              padding-right: 20 px;

            }

            .flex-grid--001914b4-b51b-43b6-b64a-5f121d6fe4f4.flex-grid--gutters {
              margin-top: -20px;
              margin-left: -20px;
            }

            .flex-grid--001914b4-b51b-43b6-b64a-5f121d6fe4f4.flex-grid__item {
              padding-top: 20 px;
              padding-left: 20 px;
            }

            @media only screen and (max-width: 589px) {
              .flex-grid--001914b4-b51b-43b6-b64a-5f121d6fe4f4 {
                margin-top: -10px;
                margin-left: -10px;

                padding-left: 10 px;
                padding-right: 10 px;

              }

              .flex-grid--001914b4-b51b-43b6-b64a-5f121d6fe4f4.flex-grid--gutters {
                margin-top: -10px;
                margin-left: -10px;
              }

              .flex-grid--001914b4-b51b-43b6-b64a-5f121d6fe4f4.flex-grid__item {
                padding-top: 10 px;
                padding-left: 10 px;
              }
            }
          </style>

          <div class="promo-grid">
            <div class="flex-grid flex-grid--gutters flex-grid--001914b4-b51b-43b6-b64a-5f121d6fe4f4">
              <style data-shopify="">
                .flex-grid__item--d4fd597b-1ee3-41f1-94e1-da6131fb17cd {
                  min-height: 480.0 px;
                }


                @media only screen and (min-width: 769px) {
                  .flex-grid__item--d4fd597b-1ee3-41f1-94e1-da6131fb17cd {
                    min-height: 640.0 px;
                  }
                }

                @media only screen and (min-width: 1140px) {
                  .flex-grid__item--d4fd597b-1ee3-41f1-94e1-da6131fb17cd {
                    min-height: 800 px;
                  }
                }


                .flex-grid__item--d4fd597b-1ee3-41f1-94e1-da6131fb17cd.btn {
                  background: #ffffff !important;
                  border: none !important;
                  color: #000 !important;

                }

                .flex-grid__item--d4fd597b-1ee3-41f1-94e1-da6131fb17cd.promo-grid__text {
                  font-size: 1.02 em;
                }

                .flex-grid__item--d4fd597b-1ee3-41f1-94e1-da6131fb17cd.flex-grid__item--50 .promo-grid__text {
                  font-size: 1.2 em;
                }

                @media only screen and (min-width: 769px) {
                  .flex-grid__item--d4fd597b-1ee3-41f1-94e1-da6131fb17cd.promo-grid__text {
                    font-size: 1.2 em;
                  }
                }
              </style>

              <div
                class="flex-grid__item flex-grid__item--100 flex-grid__item--d4fd597b-1ee3-41f1-94e1-da6131fb17cd type-advanced"
              >
                <div class="promo-grid__container vertical-bottom horizontal-center horizontal-center2">
                  <div class="promo-grid__bg">
                    <style data-shopify="">
                      .promo-grid__bg-image--d4fd597b-1ee3-41f1-94e1-da6131fb17cd {
                        object-position: top;
                        font-family: "object-fit: cover; object-position: top;";
                      }
                    </style>
                    <img
                      class="small--hide image-fit promo-grid__bg-image promo-grid__bg-image--d4fd597b-1ee3-41f1-94e1-da6131fb17cd lazyautosizes lazyloaded  mobim"
                      src="https://cdn.shopify.com/s/files/1/0773/3870/6204/files/au_banner.jpg?v=1698229971"
                      data-aspectratio="1.7777777777777777"
                      data-sizes="auto"
                      data-parent-fit="cover"
                      alt=""
                      sizes="1423px"
                    >

                    <img
                      class="medium-up--hide image-fit promo-grid__bg-image promo-grid__bg-image--d4fd597b-1ee3-41f1-94e1-da6131fb17cd lazyloaded"
                      src="https://cdn.shopify.com/s/files/1/0773/3870/6204/files/am_banner.jpg?v=1698749643"
                      alt=""
                    >
                  </div>

                  <div class="new_div"> CUSTOMISE
                    <p class="nep" style="font-family: 'Mr Lackboughs W01 Regular';color:#193f47;font-size:70px;">with <span><img src="https://eqiru.myshopify.com/cdn/shop/files/New_Project_1024x1024.png?v=1696681468" alt="" style="width: 180px;"></span></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <style>
          #shopify-section-001914b4-b51b-43b6-b64a-5f121d6fe4f4 .flex-grid__item {
            min-height: 900px;
            padding: 0px;
          }

          @media only screen and (max-width: 1440px) {
            #shopify-section-001914b4-b51b-43b6-b64a-5f121d6fe4f4 .flex-grid__item {
              min-height: 650px !important;
            }
          }

          @media only screen and (max-width: 769px) {
            #shopify-section-001914b4-b51b-43b6-b64a-5f121d6fe4f4 .type-banner {
              display: block !important;
            }

            #shopify-section-001914b4-b51b-43b6-b64a-5f121d6fe4f4 .type-banner__content {
              display: block !important;
              padding: 0px;
            }

            #shopify-section-001914b4-b51b-43b6-b64a-5f121d6fe4f4 .type-advanced {
              display: block;
            }

            #shopify-section-001914b4-b51b-43b6-b64a-5f121d6fe4f4 .flex-grid__item {
              min-height: 440px !important;
              padding: 0px;
            }

            #shopify-section-001914b4-b51b-43b6-b64a-5f121d6fe4f4 .promo-grid__container {
              min-height: 440px;
            }
          }

          #shopify-section-001914b4-b51b-43b6-b64a-5f121d6fe4f4 .type-banner {
            display: none;
          }

          #shopify-section-001914b4-b51b-43b6-b64a-5f121d6fe4f4 .flex-grid--gutters {
            margin-left: 0px;
          }
        </style>
      </div>
    </div>
    <div class="mainh" style="max-width: 75%; margin:40px auto;">
      <div class="row">
        <div class="col-md-6 col-6">
          <p class="text-center cus21" style="color:#193f47;padding: 40px 0 20px 0;">BRANDING & PACKAGING</p>
        </div>
        <div class="col-md-6 col-6">
          <p class="text-center cus21" style="color:#193f47;padding: 40px 0 20px 0;">WEDDING SOLUTION</p>
        </div>
      </div>
    </div>

    <div class="banner" style="padding:0px 0 40px 0;">
      <img
        src="https://cdn.shopify.com/s/files/1/0773/3870/6204/files/Moodboard_Mockup_Freebie_copy.jpg?v=1698755461"
        width="100%"
        alt=""
      >
    </div>

    <div class="sec" style="padding:40px 0 20px 0;">
      <p class="text-center cusf" style="font-family: 'Mr Lackboughs W01 Regular';color:#193f47;font-size:50px;">
        A Wedding Celebration to Remember
      </p>
    </div>

    <div class="about">
      <div class="sec1 " style="padding:20px 0;">
        <div class="container" style="max-width: 90%;margin: auto;">
          <div class="row">
            <div class="col-md-5 p-0" style="align-items: start;display: flex;">
              <p style="max-width:100%;">
                At Eqiru, we believe that weddings are not just events; they are cherished moments that deserve to be
                celebrated in style. Our brand is your go-to destination for all things paper, design, and creativity,
                offering a wide range of solutions to make your wedding truly exceptional.
              </p>
            </div>
            <div class="col-md-7 small--hide"></div>
          </div>
        </div>
      </div>

      <div class="the1" style="margin:60px 0;">
        <div class="container" style="max-width: 90%;margin: auto;">
          <div class="row" style="justify-content: space-between;    align-items: center;">
            <div class="col-md-5 p-0">
              <img
                style="width: 100%;"
                src="https://cdn.shopify.com/s/files/1/0773/3870/6204/files/T6A9814.jpg?v=1698755603"
              >
            </div>

            <div class="col-md-5 row mt1" style="margin-top: auto;">
              <div class="col-md-12">
                <h1 class="cusf" style="font-family: 'Mr Lackboughs W01 Regular';font-size:50px;">Wedding</h1>
                <h1 class="cus211">INVITES</h1>
              </div>
              <div class="col-md-12 nem" style="margin-top:40% ;">
                <p>
                  Your wedding begins with the a invitation. Our exquisite wedding invitations are crafted with love and
                  designed to impress. Whether you prefer classic elegance or contemporary flair, we have the perfect
                  invitation suite for you.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="banner" style="margin:20px 0;">
        <img
          src="https://cdn.shopify.com/s/files/1/0773/3870/6204/files/WeddingInvite.jpg?v=1698755461"
          width="100%"
          alt=""
        >
      </div>

      <div class="tr" style="background-color: #82402a; ">
        <div class="row " style="padding: 10% 5% 7% 5%;">
          <div class="col-md-5 row mt11" style="margin-top: auto;">
            <div class="col-md-12">
              <h1 class="cusf" style="font-family: 'Mr Lackboughs W01 Regular';font-size:50px;color:#fff;">Wedding</h1>
              <h1 class="cus211" style="color:#fff;">FAVOURS</h1>
            </div>
            <div class="col-md-12 nem" style="margin-top:40% ;">
              <p style="color:#fff;">
                Make your guests feel special with personalized wedding favors that they'll treasure. Our range of
                unique paper gifts adds a thoughtful touch to your big day.
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="the small--hide" style="margin: 8% 0;">
        <div class="page1" style="max-width: 90%;margin: auto;">
          <div class="row m-0" style="    justify-content: space-between;">
            <div class="col-md-5 col-8 al p-0" style="color:#193f47;">
              <p>
                From ceremony programs to thank-you cards, our bespoke stationery complements your wedding theme,
                ensuring every detail is perfect
              </p>
            </div>

            <div class="col-md-5 p-0">
              <img
                src="https://cdn.shopify.com/s/files/1/0773/3870/6204/files/T6A9814.jpg?v=1698755603"
                alt=""
                width="100%"
              >
            </div>
            <div class="col-md-1 al2 " style="transform: rotate(90deg);height: fit-content;margin: 1% 0 0 0;">
              <h1 class="com" style="font-family: Aire Bold Std;font-size: 70px;font-weight: 500;color:#82402a">
                BESPOKE
              </h1>
            </div>
          </div>
        </div>
      </div>
      <div class="the" style="background-color: #193f47; ">
        <div class="row m-0 mobp" style="padding: 5%;">
          <div class="col-md-6 row ">
            <div class="col-md-6 col-6 pl-0">
              <img
                src="https://cdn.shopify.com/s/files/1/0773/3870/6204/files/bue2.jpg?v=1698911224"
                alt=""
                width="100%"
              >
            </div>
            <div class="col-md-6 col-6 pr-0 p">
              <img
                src="https://cdn.shopify.com/s/files/1/0773/3870/6204/files/bur.jpg?v=1699335524"
                alt=""
                width="100%"
              >
            </div>
          </div>
          <div class="col-md-6"></div>

          <div class="col-md-10 row mt1" style="    justify-content: space-around;margin:8% auto;">
            <div class="col-md-10 ">
              <h1 class="com" style="font-family: Aire Bold Std;font-size: 60px;font-weight: 500;color:#fff">
                BRANDING & PACKAGING
              </h1>
            </div>
            <div class="col-md-4  lp mt-3">
              <p style="color: #fff;">Logo Design</p>
              <p style="color: #fff;">Messaging and Tone of Voice</p>
              <p style="color: #fff;">Brand Identity</p>
            </div>
            <div class="col-md-4  lp mt-0 mt-md-3">
              <p style="color: #fff;">Brand Guidelines</p>
              <p style="color: #fff;">Printing & Marketing Collateral</p>
            </div>
          </div>
          <div class="col-md-12 row mt1" style="justify-content: space-between;">
            <div class="col-md-4 order-md-1 order-sm-2 order-2 nem" style="margin-top: auto;">
              <p style="color:#fff;">
                Elevate your brand's presence with Eqiru. We specialize in crafting unique visual identities, memorable
                logos, and engaging marketing materials. Our packaging services are designed to make your brand stand
                out, creating an unforgettable experience for your customers. Let's collaborate to make your brand stand
                out and tell your story effectively.
              </p>
            </div>
            <div class="col-md-7 p-0 order-md-2 order-sm-1 order-1">
              <img
                src="https://cdn.shopify.com/s/files/1/0773/3870/6204/files/91441_copy_2.jpg?v=1698822444"
                alt=""
                width="100%"
              >
            </div>
          </div>
        </div>
      </div>

      <div class="sec" style="padding:60px 0;">
        <div class="page1" style="max-width: 90%;margin:40px auto;">
          <div class="row" style="justify-content: space-between;">
            <div class="col-md-6"></div>
            <div class="col-md-4">
              <h1 class="com pb-2" style="font-family: Aire Bold Std;font-size: 50px;font-weight: 500;color:#193f47;">
                STRATERGY
              </h1>
              <p class="eq3"style="line-height: 1;font-weight: 400;color:#193f47;">Content Creation</p>
              <p class="eq3" style="line-height: 1;font-weight: 600;color:#193f47;">Social Media Branding</p>
            </div>
            <div class="col-md-4 mt-4">
              <p class="eq2 text-start" style="color:#193f47;">
                Eqiru: Your social media success blueprint. Our strategic outlining service ensures your brand shines
                online and provides you with a clear plan to achieve your brand's digital goals. Get started today!
              </p>
            </div>
            <div class="col-md-6 mt-4 p-0"></div>
          </div>
        </div>
      </div>

      <div class="work" style="margin:0px 0;background-color:#d1c429;">
        <div class="page2 pt-5 pb-5" style="max-width: 80%;margin:auto;">
          <div class="row" style="margin:8% 0;justify-content: space-between;">
            <div class="col-md-6 col-6 text-left "></div>
            <div class="col-md-6 col-6 text-end">
              <h1
                class="text-end work1"
                style="font-family: 'Mr Lackboughs W01 Regular';color:#193f47;font-size: 50px;"
              >
                Work with
              </h1>
              <img
                class="work11"
                src="https://cdn.shopify.com/s/files/1/0773/3870/6204/files/Logo.png?v=1696851926"
                width="300"
                alt=""
              >
            </div>
          </div>

          <div class="md-mt-5 mt-4 md-p-4 contact" style="background-color:#fff;">
            {% section 'page-contact-template' %}
          </div>
          <div class="col-md-5">
            <p style="line-height: 1.2; color:#193f47;">Contact: +91 8130162269</p>
            <p style="line-height: 1.2; color:#193f47;">Email: help@eqiru.com</p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
